
#about
{
    border-bottom: 4px #2791f5 solid;
    color: #2791f5;
}

body
{
    background-color: #4E73FF;
    margin: 0;
}   

#desc
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
#desc h1
{
    font-size: 15vh;
}

#desc:last-child
{
    font-size: 5vh;
}