
#about
{
    border-bottom: 4px #2791f5 solid;
    color: #2791f5;
}

body
{
    background-color: #231278;
    background-image:url("bgPattern.png");
    margin: 0;
}   

.desc1
{
    margin:0 auto;
    width: 75vw;    
    color: #ecece1;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}

.desc2
{
    margin:0 auto;
    width: 65vw;    
    color: #ecece1;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 5%;
    display: flex;
    
}

.desc2 h3{
    font-weight: normal;
    font-size: 1.4em;
}
.desc1 h1
{
    font-size: 5vw;
    margin-top: 5%;
}

.desc:last-child
{
    font-size: 5vh;
}

#panel1 h3, .desc h3, #panel2 h3
{
    text-align: justify;
    font-weight: normal;
}

h2{
    color:white;
}

#panel1{
    margin: 0 auto;
    width: 75vw;
    display: flex;
    margin-bottom: 3%;
}

#panel2{
    margin: 0 auto;
    width: 75vw;
    display: flex;
    margin-bottom: 3%;
}

#aboutUsPic{
    height: 100%;  
    width: 37.5vw; 
    margin: auto;
    display: flex;
    justify-content: center;
}

#aboutUsPic #ourPic{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#aboutUsTitle{
    background-color: #3a2899;
    height: 6.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3vh;
    width: 20vw;
}

.aboutUsText{
    color:#ecece1;
    height: 30vh;
    width: 37.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.aboutUsText2{
    color:#ecece1;
    height: 30vh;
    width: 37.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.aboutUsText h3, .aboutUsText2 h3
{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-weight: normal;
}

#joinPanel {
    background-image: linear-gradient(#3a2899, black);
    background-color: #000000;
    border-radius: 8px;
    width: 75vw;
    padding: 5rem 0 1.5rem;
    position: relative;
    margin-top: 6vh;
    margin-bottom: -3%;
}

#joinPanel h1{
    color: #ecece1;
}

#joinPanelLogo {
    text-align: center;
    width: 100%;
    top: -4rem;
    left: 0;
    position: absolute;
}

#joinPic{
    width: 120px;
    height: 120px;
}

.signupButton
{
    color: white;
    background-color: #3a2899;
    border: none;
    padding: 1%;
    border-radius: 15px;
    transition: .3s;
    cursor: pointer;
    border: 2px #3a2899 solid;

    h2
    {
        color: white;
    }

}

.signupButton:hover
{
    background-color: white;
    border: 2px #2791f5 solid;
    
    h2
    {
        color: #2791f5;
    }

}

.wrapper {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    max-width: 65vw;
    position:relative;
}

.wrapper i{
    top: 50%;
    height: 6vh;
    width: 3vw;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    background: white;
    text-align: center;
    line-height: 6vh;
    border-radius: 50%;
    transform: translateY(-50%);

}

.wrapper i:first-child{
    left: -1.43rem;
}
.wrapper i:last-child{
    right: -1.43rem;
}


.wrapper .carousel {
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 41.2vh;
    border-radius: 12px;
    object-fit: cover;
    margin-left: 0.88rem;
    width: calc(100%/3);
    z-index: -1;
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 52vw;
    }

    .desc2 h3{
        font-size: 1.1em;
    }

    h3{
        font-size: .8em;
    }

    #aboutUsTitle{
        height: 4vh;
        width: 25vw;
    }

    .desc2, #panel1, #panel2{
        margin-bottom: 0%;
    }

    #joinPanel{
        margin-top: 1vh;
        width: 90vw;
    }
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100%/2);
    }
}

@media screen and (max-width: 768px) {
    #joinPanel h1{
        font-size: 1.6em;
    }   
    #panel1, #panel2{
        width: 90vw;
    }

    .desc2 h3{
        font-size: .9em;
    }
    h3{
        font-size: .6em;
    }

    .wrapper{
        max-width: 65vw;
    }

    .carousel img{
        height: 31vw;
    }

    #joinPanel {
        margin-top: 5%;
    }

}

@media screen and (max-width: 426px) {
    #joinPanel{
        height: 15vh;
    }

    #joinPanelLogo {
        top: -2.5rem;
    }

    #joinPic {
        width: 90px;
        height: 90px;
    }
    
    #joinPanel h1{
        font-size: 1.1em;
    }   
    #panel1, #panel2{
        width: 90vw;
    }
    #aboutUsPic, #aboutUsText{
        width: 45vw;
    }

    .desc2 h3{
        font-size: .7em;
    }
    .wrapper{
        max-width: 65vw;
    }

    .carousel img{
        height: 25vw;
    }

    h3{
        font-size: .4em;
    }
    #aboutUsTitle {
        height: 6vh;
        width: 35vw;
    }

    #aboutUsTitle h2{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 37%;
    }
}

@media screen and (max-width: 376px) {
    #joinPanel h1 {
        font-size: .9em;
    }
    #joinPanel {
        height: 17vh;
    }
    .desc1 h1{
        font-size: 8vw;
    }

    .desc2 h3{
        font-size: .6em;
    }

    h3 {
        font-size: .3em;
    }
    #aboutUsTitle h2{
        font-size: 1em;
    }
}

@media screen and (max-width: 321px) {
    #joinPanel h1{
        font-size: .7em;
        
    }

}
