
#about
{
    border-bottom: 4px #2791f5 solid;
    color: #2791f5;
}

body
{
    background-color: #559dd0;
    margin: 0;
}   

#desc
{
    margin:0 auto;
    width: 60vw;    
    color: #ecece1;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}
#desc h1
{
    font-size: 15vh;
}

#desc:last-child
{
    font-size: 5vh;
}

h3{
    text-align: justify;
}

h2{
    color:white;
}

#panel1{
    margin: 0 auto;
    width: 90vw;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#aboutUsPic{
    height: 30vh;
    width: 30vw;
}

#aboutUsText{
    color:#ecece1;
    height: 250px;
    width: 60vw;
}
