#dashboard
{
    border-bottom: .3vw #2791f5 solid;
    color: #2791f5;
}

* 
{
  box-sizing: border-box;
}


body 
{
  margin: 0;
  font-family:
  Inter,
  -apple-system,
  Roboto,
  Helvetica,
  sans-serif;
  background-color: white;
}

#hourlyMessages {
  width: auto;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#messagesPerHourChart 
{
  width: 100% !important; /* Ensure canvas is responsive within its container */
  height: auto !important;
}

#hourlyUsers 
{
  width: auto;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: black;
  color: white;
}

#usersPerHourChart 
{
  width: 100% !important; /* Ensure canvas is responsive within its container */
  height: auto !important;
}