*
{
    margin: 0;
    font-family: Glacial Indifference;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

#nav-container
{
    height: 5vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}

#middle-nav
{
    height: 100%;
    display: flex;
    align-items: center;
}

#logo
{
    height: 60%;
    margin: 0 10px 0 10px;
}

#home, #about, #terms, #create, #login
{
    height: 100%;
    width: 75px;
    font-size: large;
    background-color: black;
    color: white;
    border: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img
    {
        height: 60%;
    }
}

#login
{
    width: 7vw;
    text-decoration: none;
}

a
{
    text-decoration: none;
}

#home:hover, #about:hover, #terms:hover, #create:hover, #user:hover, #login:hover
{
    background-color: #2791f5;
    color: white;
}

a
{
    height: 100%;
}

#user
{
    height: 100%;
    width: auto;
    font-size: large;
    background-color: #8e8e93;
    color: white;
    border: none;
    transition: 0.3s;
    border-radius: 0 15px 15px 0;
}

#footer-container
{
    padding: 1%;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;

    div
    {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        a
        {
            text-decoration: none;

            color: white;
        }

        h2
        {
            font-weight: normal;
        }
    }
}