body{
    background-image: url("bgPattern.png");
    margin:0;
}

#terms
{
    border-bottom: 4px #2791f5 solid;
    color: #2791f5;
}

.main-container{
    background-image: url("dot-grid.png");
    justify-content: center;
    align-items: center;
    width: 75vw;
    padding: 3em;
    margin:0 auto;
    border-radius: 15px;

}

h1,h2,h3{
    text-align: center;
}

ol,ul,p{
    text-align: justify;
}


.signupButton {
  appearance: none;
  background-color: #2791f5;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.signupButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.signupButton:hover {
  background-color: #3a2899;
}

.signupButton:focus {
  background-color: #3a2899;
  outline: none;
}

.signupButton:disabled {
  background-color: #3a2899;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.signupButton:active {
  background-color: #3a2899;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

@media screen and (max-width: 426px) {
    .main-container{
      padding: 1em;
    }
    li{
      font-size: .8em;
    }
    h1 {
      font-size: 2em;
    }
}

@media screen and (max-width: 376px) {
    .main-container{
      padding: 1em;
    }
    li{
      font-size: .75em;
    }
    h1 {
      font-size: 1.5em;
    }
}
